* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "DM Serif Display", serif;
  }
  
  /*-----------------header--------------------- */
  header {
    background-color: rgb(26, 6, 68);
    height: 100vh;
  }
  
  .logo {
    color: rgb(23, 165, 201);
    font-size: 50px;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 2%;
  }
  
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
  li a {
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  li a:hover {
    color: rgb(244, 243, 248);
  }
  
  .head-container {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
  }
  
  .head-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
    text-align: center;
    height: 80vh;
  }
  
  .head-para {
    font-size: 20px;
  }
  h1 {
    color: rgb(16, 163, 186);
    font-size: 70px;
  }
  p {
    color: rgb(255, 253, 253);
  }
  
  .head-btn {
    width: 15%;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font: bold;
  }
  
  .head-btn:hover {
    background-color: rgb(36, 11, 125);
    color: rgb(151, 37, 37);
  }
  
  /* -------------------- about-me-section ---------------------------*/
  
  .about-me {
    height: 100vh;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
  }
  h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 5%;
    text-decoration: underline;
  }
  .about-me-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    /* text-align: center; */
  }
  
  .about-text {
    width: 50%;
  }
  
  .about-para {
    color: rgb(84, 7, 199);
    font-size: 20px;
  }
  
  .img-portfolio {
    width: 45%;
  }
  
  /* -------------------- skills ---------------------------*/
  .stacks {
    background-color: rgb(95, 101, 101);
    height: 70vh;
  }
  
  .skill-head {
    text-align: center;
    font-size: 50px;
    margin-top: 2%;
    text-decoration: underline;
    color: rgb(26, 24, 24);
    padding-top: 3%;
  }
  
  .skill-container {
    width: 90%;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 5%;
  }
  
  .skill-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .skill-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
  }
  
  .skill-para {
    font-size: 50px;
  }
  
  .skill-dash {
    width: 10%;
    color: 
    border: 1px white solid;
  }
  
  .img-skill {
    border-radius: 10%;
    width: 10%;
  }
  
  .social-icons {
    margin-top: 5%;
    display: flex;
    align-items: center;
    gap: 4%;
  }
  
  .icons {
    cursor: pointer;
  }
  /* -------------------- contact ---------------------------*/
  .contact {
    height: 100vh;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
  }
  
  .contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
  }
  
  .get-in-touch-head {
    font-size: 50px;
    width: 50%;
  }
  
  .get-in-touch-para {
    width: 50%;
  }
  .form-container {
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
    background-color: rgb(59, 5, 135);
    margin-top: 5%;
  }
  
  .contact-p {
    color: black;
    margin-top: 3%;
  }
  
  form {
    padding: 4%;
  }
  
  .form-t {
    color: rgb(14, 14, 14);
  }
  .form-control {
    display: flex;
    flex-direction: column;
  }
  .form-control input {
    width: 100%;
    height: 30px;
    border: none;
  }
  
  .form-message {
    display: flex;
    flex-direction: column;
  }
  .form-message input {
    width: 100%;
    height: 100px;
    border: none;
  }
  
  .form-btn {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font: bold;
    margin-top: 5%;
  }
  
  .form-btn:hover {
    background-color: rgb(28, 15, 148);
    color: rgb(205, 16, 16);
  }
  
  footer {
    background-color: rgb(66, 4, 124);
    height: 20vh;
    margin-top: 10%;
  }
  
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 3%;
  }
  
  .footer-icons {
    display: flex;
    align-items: center;
    gap: 4%;
  }
  
  .contact-header {
    color: rgb(26, 6, 56);
  }